<div class="col-9">
    <div class="container">
        <% data.forEach((card) => { %>
            <div class="paper-card">
                <h3><%= card.name %></h3>
                <p><%= card.description %></p>
                <% if (card.subtasks) { -%>
                    <ul>
                        <% card.subtasks.forEach((subtask) => { %>
                            <li><%= subtask %></li>
                        <% }) %>
                    </ul>
                <% } -%>
                <p class="no-margin"><%= card.createdAt %></p>
            </div>
        <% })%>
    </div>
</div>
