.row {
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.shadow {
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.05), 0px 4px 9px rgba(0,0,0,0.15);
}

i.fas {
    margin-right: 5px;
}

.paper-card {
    background: #ececec;
    border-radius: 8px;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 200px;
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 250px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.paper-card-footer {
    width: 100%;
    position: absolute;
    bottom: 5px;
}

.paper-card:hover {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.30), 0 1px 3px 1px rgba(60,64,67,0.15)
}

.btn-block {
    width: 100%;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    height: 50px;
    margin: 5px 0;
}

.btn-block:focus {
    outline: 0;
}

.btn-block .fas {
    float: right;
    transition: .4s ease-out;
}

.btn-block.collapsed .fas {
    padding-top: 5px;
}

.btn-block:not(.collapsed) .fas {
    padding-bottom: 5px;
    transform: rotate(-180deg);
}

.pull-right {
    position: absolute;
    right: 20px;
    bottom: 2px;
}

.btn-wide {
    width: 100%;
}

.btn-half {
    width: 49%;
}

.required:after {
    color: red;
    content: "*";
}

.no-bot-margin {
    margin-bottom: 0;
}

.top-margin-25 {
    margin-top: 25px;
}

.top-margin-15 {
    margin-top: 15px;
}
.uploader-yellow-button .uploadcare--widget__button_type_open {
    background-color: #fbc701;
    cursor: pointer;
}

.uploader-yellow-button .uploadcare--widget__button_type_open:hover {
    background-color: #edc218;
}

.material-radio {
    display: none;
}
.material-radio:checked + label span {
    transform: scale(1.25);
}
.material-radio:checked + label .red {
    border: 2px solid #dd2717;
}
.material-radio:checked + label .orange {
    border: 2px solid #7e5e02;
}
.material-radio:checked + label .yellow {
    border: 2px solid #f5e100;
}
.material-radio:checked + label .green {
    border: 2px solid #91ff11;
}
.material-radio:checked + label .blue-green {
    border: 2px solid #28ffce;
}
.material-radio:checked + label .blue {
    border: 2px solid #5bd0e9;
}
.material-radio:checked + label .dark-blue {
    border: 2px solid #367ef3;
}
.material-radio:checked + label .purple {
    border: 2px solid #9b35f5;
}
.material-radio:checked + label .pink {
    border: 2px solid #f855ad;
}
.material-radio:checked + label .grey {
    border: 2px solid #a0a9b5;
}
.material-label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}
.material-label:hover span {
    transform: scale(1.25);
}
.material-label span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}
.material-label span.red {
    background: #f28b82;
}
.material-label span.orange {
    background: #fbbc04;
}
.material-label span.yellow {
    background: #fff475;
}
.material-label span.green {
    background: #ccff90;
}
.material-label span.blue-green {
    background: #a7ffeb;
}
.material-label span.blue {
    background: #cbf0f8;
}
.material-label span.dark-blue {
    background: #aecbfa;
}
.material-label span.purple {
    background: #d7aefb;
}
.material-label span.pink {
    background: #fdcfe8;
}
.material-label span.grey {
    background: #e8eaed;
}