<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EJS Demo</title>

    <% include ../partials/styles %>
</head>
<body>
    <% include ../partials/nav %>
    <div class="row">
        <% include ../partials/sidebar %>
        <% include ../partials/cards %>
    </div>
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>
</html>
