<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/tiny-date-picker.min.css">
    <script>
        UPLOADCARE_PUBLIC_KEY = "demopublickey";
        UPLOADCARE_CLEARABLE = true;
    </script>
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
    <title>Visco ToDo</title>
</head>
<body>
    <% include ../partials/nav %>
    <div class="row">
        <div class="col-lg-3">
            <% include ../partials/sidebar %>
        </div>
        <div class="col-lg-9">
            <% include ../partials/cards %>
        </div>
    </div>
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>
</html>
